{% extends "base.html" %} {% block content %} {% for a in articles %}



<div class="container">
    <div class="row">
	<div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
		<div class="thumbnail">
            <div class="user">
                <img src="{{ a.profile.image.url }}" height="42">
                <h3>{{ a.profile.user.username}}</h3>
            </div>
			<img src="{{ a.image.url }}" alt="...">
			<div class="caption">
				<h3>{{ a.title }}</h3>
				<p>{{ a.content }}</p>
			</div>
            <hr>
            <div class="actions">
                <i class="like fa fa-heart-o fa-2x"></i>
                <i class="bookmark fa fa-bookmark-o fa-2x"></i>
            </div>
		</div>
	</div>
</div>


</div>

{% endfor %} {% endblock %}
